[user]
	name = Loosper
    email = boian4o1@gmail.com
[sendemail]
	#from = Boyan Karatotev <boian4o1@gmail.com>
	smtpserver =
	smtpuser =
    smtpserverport = 587
	smtpencryption = tls
	confirm = always
    multiedit = false
    suppresscc = self
[color]
	diff = auto
	status = auto
    branch = auto
[push]
	default = simple
[format]
	pretty = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(20,trunc)%ad %C(auto,green)%<(10  ,trunc)%aN %C(auto,reset)%s%C(auto,red)% gD% D
[log]
	date = format:%Y-%m-%d %H:%M:%S

[core]
	excludesfile = ~/.gitignore
	# not sure about this
	symlinks = true
	# not 100% sold but seems nice
	pager = less -i
    # pager = diff-so-fancy | less --tabs=4 -RXS --pattern '^(Date|added|deleted|modified): '
[color]
	ui = auto

# [color "diff-highlight"]
# 	oldNormal = red bold
# 	oldHighlight = red bold 52
# 	newNormal = green bold
# 	newHighlight = green bold 22
# [color "diff"]
# 	meta = 11
# 	frag = magenta bold
# 	commit = yellow bold
# 	old = red bold
# 	new = green bold
# 	whitespace = red reverse
[pull]
	ff = only
[init]
	DefaultBranch = master
